@import 'nib'
@import 'normalize'

vendor-prefixes = o ms moz webkit

body
  background-color #000
  font-size 16px

figure
  padding-top 0.5em
  display block
  text-align center


.desaturate
  -webkit-filter grayscale(100%)
  filter grayscale(100%)

.title
  color white
  text-align center
  padding-top 0.5em
  font-weight 300
